<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWcHeSExjUYaYOh_l5mo7-5ALLTusK6QoNaVgmsmuuF1Tz64K8" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae architecto reprehenderit deleniti natus neque? Ad corporis architecto eum deserunt id soluta quia assumenda quibusdam! Asperiores tempora ipsam voluptatum perspiciatis. Sed.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>